.Row {
    margin-left: 20px;
    color: #ffffff;
}

.Row>h2 {
    text-transform: capitalize;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 400;
}

.Row__posters {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.Row__posters::-webkit-scrollbar {
    display: none;
}

.Row__poster {
    object-fit: contain;
    max-height: 300px;
    width: 100%;
    margin: 0 10px;
    transition: transform 450ms;
}

.Row__poster:hover {
    transform: scale(1.06);
}

.Row__yt {
    display: block;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .Row {
        margin-left: 10px;
    }
    .Row > h2{
        font-size: 22px;
    }
    .Row__poster {
        max-height: 180px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 500px) {
    .Row__yt {
        width: 90%;
    }
    .Row > h2 {
        font-size: 20px;
    }
}